<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.annika.wishlist" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LogInActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".RegisterUserActivity"
            android:label="@string/register_user"
            android:parentActivityName=".LogInActivity" >
        </activity>

        <activity android:name=".WishListMainActivity"
            android:label="@string/app_name" >
            <!-- no parent -->
        </activity>

        <activity android:name=".ProfileActivity"
            android:label="@string/my_profile"
            android:parentActivityName=".WishListMainActivity" >
        </activity>

        <activity android:name=".EditProfileActivity"
            android:label="@string/edit_profile"
            android:parentActivityName=".WishListMainActivity" >
        </activity>

        <activity android:name=".EditWishListActivity"
            android:label="@string/edit_wish_list"
            android:parentActivityName=".WishListMainActivity" >
        </activity>

        <activity android:name=".WishActivity"
            android:label="@string/wish"
            android:parentActivityName=".WishListMainActivity">
        </activity>

        <activity android:name=".EditWishActivity"
            android:label="@string/edit_wish"
            android:parentActivityName=".WishListMainActivity" >
        </activity>

        <activity android:name=".NewWishActivity"
            android:label="@string/new_wish"
            android:parentActivityName=".WishListMainActivity" >
        </activity>

        <activity android:name=".MyWishListsActivity"
            android:label="@string/my_wish_lists"
            android:parentActivityName=".WishListMainActivity" >
        </activity>

        <activity android:name=".TipsFriendsActivity"
            android:label="@string/tips_friends"
            android:parentActivityName=".WishListMainActivity" >
        </activity>

        <activity android:name=".FriendsWishListsActivity"
            android:label="@string/friends_wish_lists"
            android:parentActivityName=".WishListMainActivity" >
        </activity>

        <activity android:name=".FindFriendsActivity"
            android:label="@string/find"
            android:parentActivityName=".WishListMainActivity">
        </activity>

        <activity android:name=".ReceivedRequestsActivity"
            android:label="@string/requests"
            android:parentActivityName=".WishListMainActivity">
        </activity>

        <activity android:name=".WatchWishListActivity"
            android:label="@string/friend_wish_list"
            android:parentActivityName=".WishListMainActivity" >
        </activity>

        <activity android:name=".WatchWishActivity"
            android:label="@string/wish"
            android:parentActivityName=".WishListMainActivity">
        </activity>

        <activity android:name=".SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName=".WishListMainActivity" >
        </activity>

    </application>

</manifest>